<table class="table table-dark table-hover" ng-controller="car-list-controller">
    <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Engine</th>
        <th>Production date</th>
        <th>Rent price</th>
        <th></th>
    </tr>
    <tr ng-repeat="car in carList">
        <td>{{car.carType.brand}}</td>
        <td>{{car.carType.model}}</td>
        <td>{{car.carType.engineType}}</td>
        <td>{{car.productionYear}}</td>
        <td>{{car.rentPrice}}</td>
        <td><a ng-click="onRentClick(car)">rent</a></td>
    </tr>
</table>